<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!-- 配置bean
		  配置方式:  基于xml的方式 ,使用的全类名的方式.
		 <bean>: 受Spring管理的一个javaBean对象.
		 	id:  <bean>的唯一标识. 在整个IOC容器中唯一不重复.
		 	class: 指定javaBean的全类名. 目的是通过反射创建对象。
		 		   Class cls = Class.forName("SpringTest.Person");
		 		   Object obj = cls.newInstance();   必须提供无参数构造器.
		 <property>: 给对象的属性赋值
		  	name: 指定属性名  , 指定set风格的属性名. 如果对应的set方法为setName22，那 name = "name22"
		  	value:指定属性值
	-->
    <bean id="person" class="SpringTest.Person">
        <property name="name" value="Tom"></property>
    </bean>

    <bean id="person1" class="SpringTest.Person">
        <property name="name" value="HanMei"></property>
    </bean>
</beans>