<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--
		bean的作用域:
			singleton: 单例的(默认值), 在整个IOC容器中只能存在一个bean的对象. 而且在IOC
			                          容器对象被创建时，就创建单例的bean的对象. 后续每次通过getBean()方法
			                           获取bean对象时，返回的都是同一个对象.
			prototype: 原型的/多例的       在整个IOC容器中可有多个bean的对象。 在IOC容器对象被
					       创建时， 不会创建原型的bean的对象。 而是等到没次通过getBean()方法获取
					   bean对象时，才会创建一个新的bean对象返回.
			request:   一次请求对应一个bean对象  该作用于仅适用于WebApplicationContext
			session:   一次会话对应一个bean对象   该作用于仅适用于WebApplicationContext
	 -->

    <bean id="car" class="Spring.Scope.Car" scope="prototype">
        <property name="brand" value="奥迪"></property>
        <property name="price" value="12000"></property>
    </bean>
</beans>