<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 组件扫描:  扫描加了注解的类，并管理到IOC容器中
    base-package: 基包. Spring会扫描指定包以及子包下所有的类，将带有注解的类管理到IOC容器中
    -->
    <context:component-scan base-package="Spring.annotation" use-default-filters="true">
        <!-- 指定扫描  必须 设置use-default-filters="false"

           排除扫描   use-default-filters="true"   -->
        <!-- <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/> -->
        <!-- <context:include-filter type="assignable" expression="com.atguigu.spring.annotation.controller.UserController"/> -->

        <!-- <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/> -->
        <!-- <context:exclude-filter type="assignable" expression="com.atguigu.spring.annotation.controller.UserController"/> -->

    </context:component-scan>

</beans>