<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- DI依赖注入的方式：set方法注入 -->
    <bean id="car" class="Spring.DI.Car">
        <property name="brand" value="奥迪"></property>
        <property name="crop" value="一汽"></property>
        <property name="price" value="300000"></property>
    </bean>

    <!-- DI依赖注入的方式：构造器方法注入
        index：指定参数位置
        type:指定参数类型
      -->
    <bean id="car1" class="Spring.DI.Car">
        <constructor-arg  value="宝马" index="0"></constructor-arg>
        <constructor-arg  value="40000" index="2" type="java.lang.Double"></constructor-arg>
        <constructor-arg  value="华晨" index="1"></constructor-arg>
    </bean>

    <bean id="car2" class="Spring.DI.Car">
        <constructor-arg value="奔驰" ></constructor-arg>
        <constructor-arg value="梅赛德斯" ></constructor-arg>
        <constructor-arg value="20" type="java.lang.Integer"></constructor-arg>
    </bean>

    <!-- 使用P命名空间语法配合bean -->
    <!-- 底层使用的还是set方法注入，price没有set方法，所有不能用 -->
    <bean id="car3" class="Spring.DI.Car"
          p:brand="福特" p:crop="长安" p:price="20000"  >
    </bean>

    <!-- 字面量
	 	特殊字符:
	 		1. 使用实体.  &nbsp;
	 				&: &amp;
	 				<: &lt;
	 				>: &gt;
	 				": &quot;
	 				':
	 		2. <![CDATA[  写任意字符    ]]>
	  -->
    <bean id="book" class="Spring.DI.Book">
        <property name="bookId" value="1001"></property>
        <!--<property name="bookName" value="&lt;&lt;Java从入门到放弃&gt;&gt;"></property>-->
        <property name="bookName">
            <value><![CDATA[@$<>*&^]]></value>
        </property>
    </bean>

    <!-- 引用其他的bean -->
    <bean id="person" class="Spring.DI.Person">
        <property name="id" value="1"></property>
        <property name="name" value="Tom"></property>
        <property name="car" ref="car"></property>
        <!-- 给级联属性赋值 ,修改时原bean的属性值-->
        <property name="car.speed" value="150"></property>
    </bean>

    <!-- 内部bean -->
    <bean id="person1" class="Spring.DI.Person">
        <property name="id" value="1"></property>
        <property name="name" value="Tom"></property>
        <property name="car" >
            <!-- 内部bean就不需要写id了 -->
            <bean class="Spring.DI.Car">
                <property name="brand" value="Mini"></property>
                <property name="crop" value="宝马"></property>
                <property name="price" value="4000"></property>
                <property name="speed" value="120"></property>
            </bean>
        </property>
    </bean>

    <!-- List集合 -->
    <bean id="personList" class="Spring.DI.PersonList">
        <property name="name" value="Tom"></property>
        <property name="cars">
            <!-- 构建list -->
            <list>
                <!-- 可以使用bean配置，也可以用ref引用 -->
                <ref bean="car"/>
                <ref bean="car1"/>
                <ref bean="car2"/>
            </list>
        </property>
    </bean>
</beans>