<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="car" class="Spring.lifeCycle.Car"
          init-method="init" destroy-method="destroy">
        <property name="price" value="120000"></property>
        <property name="brand" value="江淮"></property>
    </bean>
    <!-- 配置后置处理器，Spring能自动识别是一个后置处理器-->
    <bean class="Spring.lifeCycle.MyBeanPostProcessor"></bean>
</beans>