<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Car -->
    <bean id="car1" class="Spring.autowire.Car">
        <property name="brand" value="奔驰"></property>
        <property name="price" value="500000"></property>
    </bean>

    <!--<bean id="car2" class="Spring.autowire.Car">
        <property name="brand" value="宝马"></property>
        <property name="price" value="500000"></property>
    </bean>-->

    <!-- Address -->
    <bean id="address" class="Spring.autowire.Address">
        <property name="province" value="甘肃省"></property>
        <property name="city" value="庆阳市"></property>
    </bean>
    <!-- Person  : 演示自动装配

         byName: 使用bean的属性名与IOC容器中<bean>的id值进行匹配. 匹配成功则装配成功.

         byType: 使用bean的属性的类型与IOC容器中<bean>的class进行匹配。 如果唯一匹配则装配成功
                             如果匹配到多个兼容类型的bean。则跑出异常。
    -->
    <bean id="person" class="Spring.autowire.Person" autowire="byType">
        <property name="name" value="Tom"></property>
    </bean>
</beans>